# A file for functions  of pandas library
(Note: These are all simple implementations)

File loading

In [32]:
import pandas as pd

data = pd.read_csv('magic04.data')
data = pd.DataFrame(data)
# can also read a excel file as :
# pd.read_excel('magic04.xlsx')

DataFrame

In [33]:
RandomData = {    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9],
    'D': [10, 11, 12]
}
print(RandomData)
print("comparison")
df = pd.DataFrame(RandomData) # properly formatted DataFrame
print(df)
df.to_csv('output.csv')  # Save DataFrame to CSV

{'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9], 'D': [10, 11, 12]}
comparison
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

Viewing data

In [34]:
data.head(5) # Display first 5 rows of the DataFrame
print("\n")
data.tail(5) # Display last 5 rows of the DataFrame
print("\n")
print("DataFrame Information:")
data.info() # all the info about data in csv
print("\nDataFrame Shape:")
print(data.shape) # no. of rows and columns
data.columns # Display column names

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19019 entries, 0 to 19018
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   28.7967  19019 non-null  float64
 1   16.0021  19019 non-null  float64
 2   2.6449   19019 non-null  float64
 3   0.3918   19019 non-null  float64
 4   0.1982   19019 non-null  float64
 5   27.7004  19019 non-null  float64
 6   22.011   19019 non-null  float64
 7   -8.2027  19019 non-null  float64
 8   40.092   19019 non-null  float64
 9   81.8828  19019 non-null  float64
 10  g        19019 non-null  object
dtypes: float64(10), object(1)
memory usage: 1.6+ MB

DataFrame Shape:
(19019, 11)

Index(['28.7967', '16.0021', '2.6449', '0.3918', '0.1982', '27.7004', '22.011',
       '-8.2027', '40.092', '81.8828', 'g'],
      dtype='object')

Selecting data

In [35]:
# selecting and displaying specific columns
#df['A']  # Display column 'A'
#df['B']
#we can use index to look for specific rows
print(df.iloc[0])  # Display first row
df.loc[0] 

# row and column slicing by index
print(df.iloc[0:4, 0:6])  # Display first 4 rows and first 5 columns
#print(df.iloc[0:2, 1])  # Display first two rows of column 'B'
# Filtering rows based on a condition
print("\nFiltered DataFrame where column 'D' > 5:")
df[df['D'] > 5]

A     1
B     4
C     7
D    10
Name: 0, dtype: int64
   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

Filtered DataFrame where column 'D' > 5:

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

Modifying Data

In [ ]:
df['new-col'] = df['A'] + df['B']  # Adding a new column
print("\nDataFrame after adding a new column:")
print(df)

df = df.drop('D', axis=1)	 # Dropping a column
print("\nDataFrame after dropping a column:")
print(df)
#df.drop(1)   # commenting out as it will drop the row with index 1

df.rename(columns={'A': 'Column_A', 'B': 'Column_B'}, inplace=True)  # Renaming columns	
print("\nDataFrame after renaming columns:")
print(df)

#df.replace({old: new})
# df.sort_values('col')

DataFrame after adding a new column:
   A  B  C   D  new-col
0  1  4  7  10        5
1  2  5  8  11        7
2  3  6  9  12        9

DataFrame after dropping a column:
   A  B  C  new-col
0  1  4  7        5
1  2  5  8        7
2  3  6  9        9

DataFrame after renaming columns:
   Column_A  Column_B  C  new-col
0         1         4  7        5
1         2         5  8        7
2         3         6  9        9

Handling Missing Data

In [ ]:
value = 4
# Checking for missing data
df.isnull()

# dropping rows with any missing values
df.dropna()	

# filling missing values with a specific value
df.fillna(value)